<h1>Profile Page for <%= @donor.name.capitalize %></h1>
<form action="/donations/new" method="get">
  <input type="submit" value="Donate">
</form>
<form action="/donors/<%= @donor.id%>/edit" method="get">
  <input type="submit" value="Edit Profile">
</form>
<h3><%= @donor.name %>'s Charitable Contribution:'</h3>
<% @donor.donations.each do |donation| %>
  <ul>
    <li class="border">
      <%= donation.item.capitalize %> donated to <%= donation.charity.name.capitalize %>.<br>
      Amount: $<%= donation.item_price%>
    </li>
  </ul>
<% end %>
<p class="border-bottom"><b>Total Donation: $<%= @donor.total_donation %></b></p>
<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form>
